.app-layout {
  padding: 24px;
  min-height: 100vh;
}

.app-header {
  background-color: #c2d32b; /* Prominent dark blue */
  color: white; /* Text color */
  text-align: center;
  font-size: 24px; /* Increased font size for the title */
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  border: 1px solid #f0f0f0;
}


.app-title {
  margin: 0rem; 
  color: #fff;
}


.app-course-section,
.app-display-section {
  border: 1px solid #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 10px;
}
